# Big Data w biznesie

## Pierwszy notebook zadania

In [2]:
# from IPython.core.display import HTML

# def _set_css_style(css_file_path):
#    """
#    Read the custom CSS file and load it into Jupyter.
#    Pass the file path to the CSS file.
#    """

#    styles = open(css_file_path, "r").read()
#    s = '<style>%s</style>' % styles
#    return HTML(s)
# _set_css_style("../custom.css")

#### Zaimportuj biblioteki numpy i pandas.

In [1]:
import numpy as np
import pandas as pd

#### Załaduj plik csv.
***
Do zmiennej `df` załaduj plik `cars.csv`.

In [4]:
file = '/Users/kasia/Desktop/programowanie/big-data/cars.csv'

In [42]:
df = pd.read_csv(file)

W ten sposób otrzymujemy obiekt typu Dataframe.

#### Wyświetl pierwsze 5 linijek obiektu ''df''.

In [7]:
df.head(5)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

#### Wyświetl ostatnie 20 linijek obiektu obiektu ''df''.

In [8]:
df.tail(20)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
38511,Chrysler,PT Cruiser,automatic,orange,237000,2004,gasoline,False,gasoline,2.4,...,True,True,True,True,True,True,True,True,True,159
38512,Chrysler,Grand Voyager,automatic,other,280000,2002,gasoline,False,gasoline,3.3,...,True,False,False,False,False,False,False,True,False,160
38513,Chrysler,Sebring,automatic,red,200000,2003,gasoline,False,gasoline,2.4,...,True,False,False,True,True,False,False,True,True,160
38514,Chrysler,Voyager,automatic,red,300000,2002,gas,True,gasoline,2.4,...,True,False,False,False,False,False,False,False,False,161
38515,Chrysler,Grand Voyager,automatic,green,210000,1999,gas,True,gasoline,3.3,...,True,False,False,False,False,False,False,False,True,163
38516,Chrysler,Grand Voyager,automatic,grey,179000,1998,gasoline,False,gasoline,3.3,...,True,False,False,False,False,False,False,False,True,167
38517,Chrysler,Voyager,mechanical,silver,240000,2005,diesel,False,diesel,2.5,...,True,False,False,False,True,False,True,True,True,177
38518,Chrysler,PT Cruiser,automatic,blue,177000,2003,gasoline,False,gasoline,2.4,...,True,False,False,False,False,False,False,False,False,181
38519,Chrysler,Voyager,automatic,brown,200000,1997,gasoline,False,gasoline,2.4,...,True,False,False,False,False,False,False,False,False,186
38520,Chrysler,Voyager,mechanical,silver,400000,1999,diesel,False,diesel,2.5,...,True,False,False,False,False,False,False,False,False,202
38521,Chrysler,Neon,mechanical,green,260000,1995,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,215
38522,Chrysler,PT Cruiser,automatic,other,207605,2004,gasoline,False,gasoline,2.4,...,True,False,False,False,False,False,False,False,False,221
38523,Chrysler,Grand Voyager,mechanical,black,278000,1999,diesel,False,diesel,2.5,...,True,True,False,True,False,False,False,False,True,239
38524,Chrysler,300,automatic,silver,240000,2001,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,264
38525,Chrysler,Voyager,mechanical,violet,317000,1999,gas,True,gasoline,2.0,...,False,False,True,False,False,False,False,False,True,269
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,False,diesel,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,False,gasoline,2.4,...,False,False,False,False,False,False,False,False,True,632

#### Wyświetl podstawowe informacje o naszych danych.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

#### Wyświetl wymiary obiektu "df".

In [11]:
df.shape

(38531, 30)

#### Jak otrzymać informacje o danych liczbowych znajdujących się w naszym pliku?

In [10]:
df.describe()

,odometer_value,year_produced,engine_capacity,price_usd,number_of_photos,up_counter,duration_listed
count,38531.000000,38531.000000,38521.000000,38531.000000,38531.000000,38531.000000,38531.000000
mean,248864.638447,2002.943734,2.055161,6639.971021,9.649062,16.306091,80.577249
std,136072.376530,8.065731,0.671178,6428.152018,6.093217,43.286933,112.826569
min,0.000000,1942.000000,0.200000,1.000000,1.000000,1.000000,0.000000
25%,158000.000000,1998.000000,1.600000,2100.000000,5.000000,2.000000,23.000000
50%,250000.000000,2003.000000,2.000000,4800.000000,8.000000,5.000000,59.000000
75%,325000.000000,2009.000000,2.300000,8990.000000,12.000000,16.000000,91.000000
max,1000000.000000,2019.000000,8.000000,50000.000000,86.000000,1861.000000,2232.000000

#### Jak otrzymać informacje o wszystkich danych znajdujących się w naszym pliku?
***
Funkcja potrzebuje parametru `include = "all"`.

In [13]:
df.describe(include = "all")

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
count,38531,38531,38531,38531,38531.000000,38531.000000,38531,38531,38531,38521.000000,...,38531,38531,38531,38531,38531,38531,38531,38531,38531,38531.000000
unique,55,1118,2,12,NaN,NaN,6,2,3,NaN,...,2,2,2,2,2,2,2,2,2,NaN
top,Volkswagen,Passat,mechanical,black,NaN,NaN,gasoline,False,gasoline,NaN,...,True,False,False,False,False,False,False,False,True,NaN
freq,4243,1423,25633,7705,NaN,NaN,24065,37184,25647,NaN,...,23396,29907,27904,29227,24811,31943,28369,22528,22325,NaN
mean,NaN,NaN,NaN,NaN,248864.638447,2002.943734,NaN,NaN,NaN,2.055161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.577249
std,NaN,NaN,NaN,NaN,136072.376530,8.065731,NaN,NaN,NaN,0.671178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.826569
min,NaN,NaN,NaN,NaN,0.000000,1942.000000,NaN,NaN,NaN,0.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,158000.000000,1998.000000,NaN,NaN,NaN,1.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000
50%,NaN,NaN,NaN,NaN,250000.000000,2003.000000,NaN,NaN,NaN,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000
75%,NaN,NaN,NaN,NaN,325000.000000,2009.000000,NaN,NaN,NaN,2.300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.000000
max,NaN,NaN,NaN,NaN,1000000.000000,2019.000000,NaN,NaN,NaN,8.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2232.000000

#### Wyświetl wszystkie kolumny znajdujące się w naszym obiekcie.

In [14]:
df.columns

Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'odometer_value', 'year_produced', 'engine_fuel', 'engine_has_gas',
       'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state',
       'drivetrain', 'price_usd', 'is_exchangeable', 'location_region',
       'number_of_photos', 'up_counter', 'feature_0', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'duration_listed'],
      dtype='object')

#### Wyświetl typy danych jakie występują w poszczególnych kolumnach obiektu "df".

In [16]:
for (columnName, columnData) in df.items():
    print('Column Name : ', columnName)
    print('Data types : ', columnData.dtype)

Column Name :  manufacturer_name
Data types :  object
Column Name :  model_name
Data types :  object
Column Name :  transmission
Data types :  object
Column Name :  color
Data types :  object
Column Name :  odometer_value
Data types :  int64
Column Name :  year_produced
Data types :  int64
Column Name :  engine_fuel
Data types :  object
Column Name :  engine_has_gas
Data types :  bool
Column Name :  engine_type
Data types :  object
Column Name :  engine_capacity
Data types :  float64
Column Name :  body_type
Data types :  object
Column Name :  has_warranty
Data types :  bool
Column Name :  state
Data types :  object
Column Name :  drivetrain
Data types :  object
Column Name :  price_usd
Data types :  float64
Column Name :  is_exchangeable
Data types :  bool
Column Name :  location_region
Data types :  object
Column Name :  number_of_photos
Data types :  int64
Column Name :  up_counter
Data types :  int64
Column Name :  feature_0
Data types :  bool
Column Name :  feature_1
Data types :  bool
Column Name :  feature_2
Data types :  bool
Column Name :  feature_3
Data types :  bool
Column Name :  feature_4
Data types :  bool
Column Name :  feature_5
Data types :  bool
Column Name :  feature_6
Data types :  bool
Column Name :  feature_7
Data types :  bool
Column Name :  feature_8
Data types :  bool
Column Name :  feature_9
Data types :  bool
Column Name :  duration_listed
Data types :  int64

#### Wyświetl dane z konkretnej kolumny.
***

Wyświetl dane z kolumny `'model_name'` na dwa sposoby.

In [17]:
df.model_name

0           Outback
1           Outback
2          Forester
3           Impreza
4            Legacy
            ...
38526           300
38527    PT Cruiser
38528           300
38529    PT Cruiser
38530       Voyager
Name: model_name, Length: 38531, dtype: object

In [18]:
df['model_name']

0           Outback
1           Outback
2          Forester
3           Impreza
4            Legacy
            ...
38526           300
38527    PT Cruiser
38528           300
38529    PT Cruiser
38530       Voyager
Name: model_name, Length: 38531, dtype: object

#### Stwórz podzbiór, który zawiera tylko wymienione kolumny.
***
Obiekt o nazwie `subset` powinien zawierać tylko kolumny `'manufacturer_name'` i `'model_name'`.

In [19]:
subset = df[['manufacturer_name', 'model_name']]

#### Skopiuj podzbiór do nowego obiektu.
***
Stwórz tzw. "hard copy" obiektu `subset` do obiektu `subset_copy`.

In [25]:
subset_copy = df.copy()

#### Stwórz pozdbiór zawierający losowe dane i skopiuj do nowego obiektu.
***
Nowy obiekt `random_subset` powinien zawierać 3000 losowo wybranych wierszy z obiektu "df" i powinien być tzw. "hard copy".

In [21]:
random_subset = df.sample(n=3000).copy()

#### Zmień typ danych.
***
W obiekcie `df_subset`, sprawdź typ danych w  kolumnie `'transmission'`, a następnie zmień go na typ `'category'`.

In [26]:
subset_copy['transmission'].dtype

dtype('O')

In [27]:
subset_copy['transmission'] = subset_copy['transmission'].astype('category')

#### Wyeksportuj obiekt do pliku .csv.
***
Zapisz dwa razy obiekt `df_subset` w formacie csv. Raz bez dodatkowych parametrów, oprócz nazwy, a drugi raz z parametrem `index = False`. Użyj dwóch różnych nazw!

In [28]:
subset_copy.to_csv('/Users/kasia/Desktop/programowanie/big-data/copy.csv')

In [29]:
subset_copy.to_csv('/Users/kasia/Desktop/programowanie/big-data/copy_index_false.csv', index=False)

#### Wczytaj zapisane obiekty.
***
Wczytaj do dwóch różnych obiektów (nazwy obiektów inne niż "df") i wyświetl wyeksportowane obiekty. Czy jest między nimi jakaś różnica?

In [30]:
copy = pd.read_csv('/Users/kasia/Desktop/programowanie/big-data/copy.csv')
copy.head(5)

,Unnamed: 0,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,...,True,True,True,False,True,False,True,True,True,16
1,1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,...,True,False,False,True,True,False,False,False,True,83
2,2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,...,True,False,False,False,False,False,False,True,True,151
3,3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,...,False,False,False,False,False,False,False,False,False,86
4,4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,...,True,False,True,True,False,False,False,False,True,7

In [31]:
copy = pd.read_csv('/Users/kasia/Desktop/programowanie/big-data/copy_index_false.csv')
copy.head(5)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

### Róznica: nie ma kolumny unnamed:0 gdy zapisujemy z index=false

#### Sprawdź, który typ danych jest naszybciej czytany i zapisywany
***
Poniżej znajduje się kod do tworzenia losowych danych i nadawania im odpowiednich typów.
```python
def get_dataset(size):
    df = pd.DataFrame()
    df['size'] = np.random.choice(['big','medium','small'], size)
    df['age'] = np.random.randint(1, 50, size)
    df['color'] = np.random.choice(['red','blue','yellow','green'], size)
    df['win'] = np.random.choice(['yes','no'], size)
    dates = pd.date_range('2020-01-01', '2022-12-31')
    df['date'] = np.random.choice(dates, size)
    df['probability'] = np.random.uniform(0, 1, size)
    return df

def set_dtypes(df):
    df['size'] = df['size'].astype('category')
    df['color'] = df['color'].astype('category')
    df['age'] = df['age'].astype('int16')
    df['win'] = df['win'].map({'yes':True, 'no': False})
    df['probability'] = df['probability'].astype('float32')
    return df
```
Użyj tych funkcji do stworzenia i nadania typu danym (size = 5 000 000). <br>
Następnie przy pomocy funkcji `%time` zmierz czas potrzebny do zapisania i wczytania tych danych w różnych formatach m.in.:
- csv
- pickle
- parquet
- feather

Przykład kodu:

```python
print('Reading and writing CSV')
df = get_dataset(5_000_000)
df = set_dtypes(df)
%time df.to_csv('test.csv')
%time df_csv = pd.read_csv('test.csv')
```
***

In [32]:
def get_dataset(size):

    df = pd.DataFrame()
    df['size'] = np.random.choice(['big','medium','small'], size)
    df['age'] = np.random.randint(1, 50, size)
    df['color'] = np.random.choice(['red','blue','yellow','green'], size)
    df['win'] = np.random.choice(['yes','no'], size)
    dates = pd.date_range('2020-01-01', '2022-12-31')
    df['date'] = np.random.choice(dates, size)
    df['probability'] = np.random.uniform(0, 1, size)
    return df

def set_dtypes(df):
    df['size'] = df['size'].astype('category')
    df['color'] = df['color'].astype('category')
    df['age'] = df['age'].astype('int16')
    df['win'] = df['win'].map({'yes':True, 'no': False})
    df['probability'] = df['probability'].astype('float32')
    return df

In [33]:
print('Reading and writing CSV')
df = get_dataset(5_000_000)
df = set_dtypes(df)
%time df.to_csv('test.csv')
%time df_csv = pd.read_csv('test.csv')

Reading and writing CSV
CPU times: user 12.7 s, sys: 180 ms, total: 12.9 s
Wall time: 13 s
CPU times: user 1.87 s, sys: 228 ms, total: 2.1 s
Wall time: 2.21 s

In [39]:
print('Reading and writing Pickle')
df = get_dataset(5_000_000)
df = set_dtypes(df)
%time df.to_pickle('test.pickle')
%time df_csv = pd.read_pickle('test.pickle')

Reading and writing Pickle
CPU times: user 3.43 ms, sys: 14.9 ms, total: 18.3 ms
Wall time: 56.4 ms
CPU times: user 1.35 ms, sys: 13 ms, total: 14.4 ms
Wall time: 27.7 ms

In [37]:
print('Reading and writing Parquet')
df = get_dataset(5_000_000)
df = set_dtypes(df)
%time df.to_parquet('/Users/kasia/Desktop/programowanie/big-data/test.parquet')
%time df_csv = pd.read_parquet('/Users/kasia/Desktop/programowanie/big-data/test.parquet')

Reading and writing Parquet
CPU times: user 340 ms, sys: 40.4 ms, total: 381 ms
Wall time: 351 ms
CPU times: user 266 ms, sys: 167 ms, total: 433 ms
Wall time: 1.68 s

In [38]:
print('Reading and writing Feather')
df = get_dataset(5_000_000)
df = set_dtypes(df)
%time df.to_feather('/Users/kasia/Desktop/programowanie/big-data/test.feather')
%time df_csv = pd.read_feather('/Users/kasia/Desktop/programowanie/big-data/test.feather')

Reading and writing Feather
CPU times: user 272 ms, sys: 34.9 ms, total: 306 ms
Wall time: 381 ms
CPU times: user 80.7 ms, sys: 72.9 ms, total: 154 ms
Wall time: 111 ms

#### Posortuj indeksy po kolumnach, a następnie po wierszach.
***
Różnica w wartości parametru `axis`.

In [43]:
df.sort_index(axis=0)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,False,diesel,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,False,gasoline,2.4,...,False,False,False,False,False,False,False,False,True,632

In [44]:
df.sort_index(axis=1)

,body_type,color,drivetrain,duration_listed,engine_capacity,engine_fuel,engine_has_gas,engine_type,feature_0,feature_1,...,location_region,manufacturer_name,model_name,number_of_photos,odometer_value,price_usd,state,transmission,up_counter,year_produced
0,universal,silver,all,16,2.5,gasoline,False,gasoline,False,True,...,Минская обл.,Subaru,Outback,9,190000,10900.00,owned,automatic,13,2010
1,universal,blue,all,83,3.0,gasoline,False,gasoline,False,True,...,Минская обл.,Subaru,Outback,12,290000,5000.00,owned,automatic,54,2002
2,suv,red,all,151,2.5,gasoline,False,gasoline,False,True,...,Минская обл.,Subaru,Forester,4,402000,2800.00,owned,automatic,72,2001
3,sedan,blue,all,86,3.0,gasoline,False,gasoline,True,False,...,Минская обл.,Subaru,Impreza,9,10000,9999.00,owned,mechanical,42,1999
4,universal,black,all,7,2.5,gasoline,False,gasoline,False,True,...,Гомельская обл.,Subaru,Legacy,14,280000,2134.11,owned,automatic,7,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,sedan,silver,front,301,3.5,gasoline,False,gasoline,False,True,...,Минская обл.,Chrysler,300,5,290000,2750.00,owned,automatic,85,2000
38527,hatchback,blue,front,317,2.2,diesel,False,diesel,False,True,...,Брестская обл.,Chrysler,PT Cruiser,4,321000,4800.00,owned,mechanical,20,2004
38528,sedan,blue,front,369,3.5,gasoline,False,gasoline,False,True,...,Минская обл.,Chrysler,300,3,777957,4300.00,owned,automatic,63,2000
38529,minivan,black,front,490,2.0,gasoline,False,gasoline,False,True,...,Брестская обл.,Chrysler,PT Cruiser,7,20000,4000.00,owned,mechanical,156,2001
38530,minivan,silver,front,632,2.4,gasoline,False,gasoline,False,False,...,Минская обл.,Chrysler,Voyager,4,297729,3200.00,owned,automatic,73,2000

#### Posortuj dane po wartościach w danej kolumnie.
***
Posortuj i wyświetl dane po wartościach w kolumnie `'engine_capacity'`.

In [45]:
df.sort_values('engine_capacity')

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
12979,Renault,Scenic,mechanical,red,320,1999,gasoline,False,gasoline,0.2,...,True,False,False,False,False,False,False,False,True,8
5932,Mitsubishi,Outlander,automatic,silver,206000,2006,gasoline,False,gasoline,0.2,...,True,True,False,True,True,False,False,True,True,160
30295,Mazda,626,mechanical,red,152369,1993,diesel,False,diesel,0.2,...,False,False,False,False,False,False,False,False,True,2
35508,Mercedes-Benz,E200,mechanical,red,547869,1986,diesel,False,diesel,0.2,...,False,False,False,False,False,False,False,False,False,47
11937,Ford,Mondeo,mechanical,green,350000,1995,gasoline,False,gasoline,0.2,...,True,False,False,False,False,False,False,False,False,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26222,Nissan,Leaf,automatic,white,50000,2014,electric,False,electric,NaN,...,True,False,False,False,True,False,True,True,False,18
26582,Nissan,Leaf,automatic,black,84000,2014,electric,False,electric,NaN,...,False,False,False,False,True,True,True,True,True,138
26914,Nissan,Leaf,automatic,black,84500,2013,electric,False,electric,NaN,...,True,False,True,False,True,True,True,True,True,58
27554,BMW,i3,automatic,white,54150,2015,electric,False,electric,NaN,...,True,True,True,False,True,True,True,True,True,18
29590,BMW,i3,automatic,other,67000,2018,electric,False,electric,NaN,...,True,True,True,True,True,True,True,True,True,57

#### Wyświetl ile różnych wartości przyjmują dane w konkretnej kolumnie?
***
Ile różnych wartości znajduje się w kolumnie `'engine_type'`?

In [48]:
len(df['engine_type'].unique())

3

#### Znajdź dane, które znajdują się między konkretnymi indeksami i w konkretnej kolumnie.
***
Wyświetl dane o indeksie między 100, a 1000 i w kolumnie `'model_type'`.

In [52]:
df['body_type'].iloc[100:1000]

100        sedan
101    hatchback
102    universal
103      minivan
104    universal
         ...
995        sedan
996    hatchback
997      minivan
998    universal
999          suv
Name: body_type, Length: 900, dtype: object

Następnie wyświetl dane o indeksie między 10000, a 20000 i w kolumnach od 0 do 2.

In [54]:
df.iloc[10000:20000, 0:2]

      manufacturer_name model_name
10000              Ford    Transit
10001              Ford     Fiesta
10002              Ford     Fusion
10003              Ford     Mondeo
10004              Ford     Fusion
...                 ...        ...
19995              Audi         A4
19996              Audi         80
19997              Audi         A3
19998              Audi         A4
19999              Audi         80

[10000 rows x 2 columns]

#### Stwórz własny obiekty typu DataFrame i wprowadź do niego różne typy danych.
***
Stwórz i wyświetl obiekt `my_df` zawierający cztery kolumny:
- kolumna "A" powinna zwierać dane typu `float32`,
- kolumna "B" powinna zawierać dane typu `category` o wartościach `'kółko'` albo `'krzyżyk'`,
- kolumna "C" powinna zwierać napis `'Witaj Świecie!'`,
- kolumna "D" powinna zwierać dane typu `Timestamp` z dzisiejszą datą.

In [60]:
df = pd.DataFrame()
df['A'] = np.random.randint(1, 50, 20)
df['B'] = np.random.choice(['kółko','krzyzyk'], 20)
df['C'] = 'Witaj Świecie'
df['D'] = pd.Timestamp("20230203")

In [61]:
df

     A        B              C          D
0   33  krzyzyk  Witaj Świecie 2023-02-03
1   28  krzyzyk  Witaj Świecie 2023-02-03
2    7  krzyzyk  Witaj Świecie 2023-02-03
3   30    kółko  Witaj Świecie 2023-02-03
4   36    kółko  Witaj Świecie 2023-02-03
5   35  krzyzyk  Witaj Świecie 2023-02-03
6   25  krzyzyk  Witaj Świecie 2023-02-03
7   26    kółko  Witaj Świecie 2023-02-03
8   39  krzyzyk  Witaj Świecie 2023-02-03
9   13  krzyzyk  Witaj Świecie 2023-02-03
10  48  krzyzyk  Witaj Świecie 2023-02-03
11   9  krzyzyk  Witaj Świecie 2023-02-03
12  11  krzyzyk  Witaj Świecie 2023-02-03
13   8    kółko  Witaj Świecie 2023-02-03
14  28    kółko  Witaj Świecie 2023-02-03
15  21    kółko  Witaj Świecie 2023-02-03
16   5  krzyzyk  Witaj Świecie 2023-02-03
17  34    kółko  Witaj Świecie 2023-02-03
18   8    kółko  Witaj Świecie 2023-02-03
19  49    kółko  Witaj Świecie 2023-02-03